.card-front img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.card-back img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 150;
}
.card-box , .card-box-init {
    margin: 30px ;
    width: 150px;
    height: 150px;
    position: relative;

  }

.error  {
    transform: rotateY(-180deg);
}

.girada , .logrado  {
      transform: rotateY(180deg);
}
  
.card  , .card-init{
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    width: 150px;
    height: 150px;
}
.card-init{
    transform-style: preserve-3d;
    transition: all 1s linear;
    width: 150px;
    height: 150px;
} 
.card-front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    width: 150px;
    height: 150px;
}
  
.card-back {
    width: 150px;
    height: 150px;
}

 #table{
    margin: auto;
    padding: 4% 10%;
    display:flex;
    flex-wrap: wrap;
    z-index: 1;
}

.oculto{
    display: none;
}

#blackScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    margin: -10px;
    opacity: 0.5;
    z-index: 50;
}

#menuBox{
    border-radius: 10px;
    position: absolute;
    text-align: center;
    margin: 15% 40%;
    z-index: 100;
   
}
#nav , nav{
    position:fixed;
    height: 70px;
    background-color: blue;
    text-align: center;
    z-index: 150;
}
nav{
    width: 90%;
    margin: -15px 3% 0px  4%;
    border-radius: 7px;
}
#nav{
    background-color: black;
    color: white;
    margin-left: 36%;
    border-radius: 15px;
    width: 290px;
    padding-top: 15px;
}
.giro360{
    transform: rotateY(360deg);
}
#menu{
    padding: 25px 70px;
    border-radius: 10px;
    position: absolute;
    background: white;
}
#cardLeft { 
    position:absolute;
    right: 100px; 
    top: 10px; 
    z-index: 2;
}

#cardRight {
    position: absolute;
    left: 400px;
    top: 10px;
    z-index: 2;
}
#contador{
    font-size: 50px;
}
@media only screen and (max-width: 800px) {

    .card-box {
        margin: 15px ;
        width: 100px;
        height: 100px;
      }
      
    .card {
        width: 100px;
        height: 100px;
    }
      
    .card-front {
        width: 100px;
        height: 100px;
    }
      
    .card-back {
        width: 100px;
        height: 100px;
    }
    
     #table{
        padding: 2% 10%;
    }
}
